<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <h2>Edit-Department</h2>

      <div class="create-blog content">
        <form action="/deps/edit/<%= dep.id %>" method="POST">
          <label for="name">Name:</label>
          <input type="text" value="<%= dep.name %>" id="title" name="name" required>
          <label for="description">description:</label>
          <input type="text" value="<%= dep.description %>" name="description" required>
          <button type="submit">Update</button>
        </form>
      </div>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>