<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Emps</h2>

    <% if (emps.length > 0) { %>
      <% emps.forEach(eachemp => { %>
        <a class="single" href="/emps/<%= eachemp.id %>">
          <h3 class="title"><%= eachemp.name %></h3>
          <p class="snippet"><%= eachemp.email %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no emps to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>